*{ color:#666; font-size:12px;}
body{ margin:0px;}
img{ display:block; border: none;}
a{ text-decoration:none;}
input{border:none; margin:0px; padding:0px; outline:none;}
.header{ width:	100%; overflow:hidden; margin-left:auto; margin-right:auto; line-height:60px; }
.leftheader{ float:left; overflow:hidden;padding-left: 50px; padding-top:10px;}
.leftheader *{ float:left;}
.rightheader{ float:right; overflow:hidden;padding-right: 100px;}
.rightheader *{ float:left}
.leftheader .logo{ margin-right:108px;}
.leftheader .fengexian{ margin-top:15px; margin-right:18px;}
.rightheader img{ margin-top:12px; margin-left:24px; margin-right:5px;}
.main{ background-color:#ededed; height:500px;}
.content{ width:980px; margin-left:auto; margin-right:auto; overflow:hidden;}
.content img{ margin-top:50px; float:left;}
.content .login{ float:right; margin-top:30px; overflow:hidden;}
.content input{ display:block; width:360px; height:60px; margin-top:60px; border:1px solid #cccccc; border-radius:5px;}
.login span{ display:block; background-color:#fe5f28; width:360px; line-height:60px; margin-top:40px; font-size:12px; color:#ffffff; text-align:center;}
.login a{ line-height:60px; color:#fe5f28;}
.leftlink{ float:left;}
.rightlink{ float:right;}
.nav{ overflow:hidden; width:980px; margin-left:auto; margin-right:auto; margin-top:50px; margin-bottom:20px;}
.nav div{ float:left;}
.nav .more{ width:320px; background-color:#ff8e2f; height:150px; margin-right:10px;}
.nav .quanyi{ width:320px; background-color:#6de3c0; height:150px; margin-right:10px;}
.nav .fukuan{ width:320px; background-color:#ffd62e; height:150px;}
.nav img{ float:left;}
.nav a{ float:right; font-size:16px; font-family:"微软雅黑"; color:#ffffff; line-height:150px; margin-right:40px; font-weight:bold;}
.footer{ width:980px; margin-left:auto; margin-right:auto;}
.footerbox{ overflow:hidden; margin-top:25px; margin-bottom:25px; margin-left:150px;}
.footerbox *{ float:left;}
.footerbox img{ margin-left:25px; margin-right:10px;}
.footerbox span{ font-size:14px; font-weight:bold; color:#fd6029; line-height:40px;}
.bottom{width:980px; margin-left:auto; margin-right:auto;}
.bottom div{  margin-top:20px; margin-left:335px;}
.bottom p{ text-align:center;}
.teplist{width: 90%;height: 399px;}
.teplist li{width: 224px;height: 399px; border: solid 1px #FFDD67;padding:4px; border-radius:5px;float: left;}
.d_img{width: 224px;height: 369px;}
.btn_sm{background:#ff546a;margin-left: 36px;display: block;float: left; font-size: 16px;color: #fff;text-align: center;font-family: 'Microsoft Yahei'; width: 58px;height: 24px;border-radius:5px;}
.btn_sm:visited{background:#ff546a;color:#fff;}
.btn_sm:hover{background:#ff546a;color:#fff;}
a:hover{text-decoration:none;}